# env file example
PGUSER=your_username
PGPASSWORD=your_password #Could be empty if you are running postgresql locally.
PGHOST=/var/run/postgresql/ #Could be an IP or localhost - but the tool expecting local usage
PGPORT=5432
BACKUP_DIR=/path/to/backup/directory #This should really be one per cluster per host
PGVERSION=16  # Replace with your actual PostgreSQL version
PGCLUSTER=main  # Name of the PostgreSQL cluster
